{{define "scores"}}

<div>
	<h2>ציונים דינמיים</h2>

	<p role="doc-subtitle">הציונים האלו מחושבים כולל הערכת המודל של המערכת הידעה. לציונים סטטיים, שאינם כוללים שימוש במערכת, ראה למטה.</p>

	<dl>
		<dt>ציון כללי רב-קטגוריה:</dt>
		<dd>{{index .DynamicScores.MultiCategoryGeneral 0}} - {{index .DynamicScores.MultiCategoryGeneral 1}}</dd>

		<dt>ציון כללי דיבורי:</dt>
		<dd>{{index .DynamicScores.VerbalFocusGeneral 0}} - {{index .DynamicScores.VerbalFocusGeneral 1}}</dd>

		<dt>ציון כללי כמותי:</dt>
		<dd>{{index .DynamicScores.QuantitativeFocusGeneral 0}} - {{index .DynamicScores.QuantitativeFocusGeneral 1}}</dd>
	</dl>
</div>

<div>
	<h2>ציונים סטטיים</h2>

	<dl>
		<dt>ציון כללי רב-קטגוריה:</dt>
		<dd>{{index .StaticScores.MultiCategoryGeneral 0}} - {{index .StaticScores.MultiCategoryGeneral 1}}</dd>

		<dt>ציון כללי דיבורי:</dt>
		<dd>{{index .StaticScores.VerbalFocusGeneral 0}} - {{index .StaticScores.VerbalFocusGeneral 1}}</dd>

		<dt>ציון כללי כמותי:</dt>
		<dd>{{index .StaticScores.QuantitativeFocusGeneral 0}} - {{index .StaticScores.QuantitativeFocusGeneral 1}}</dd>
	</dl>
</div>

<div>
	<h2>סקירת כתיבה</h2>

	<p role="doc-subtitle">זוהי סקירת המערכת לשיעור הכתיבה שלך.</p>

	<dl>
		<dt>ציון לשוני (מתוך 6):</dt>
		<dd>{{.WritingScore.Linguistic}}</dd>

		<dt>ציון תוכני (מתוך 6):</dt>
		<dd>{{.WritingScore.Content}}</dd>

		<dt>הסבר לציונים, מסופק על ידי המערכת:</dt>
		<dd>{{.WritingScore.Explanation}}</dd>
	</dl>
</div>

<div>
	<h2>ציונים גלמים/אחידים</h2>

	<p role="doc-subtitle">הציונים מחושבים על בסיס הציונים ה"גלמיים" וה"אחידים". ניתן להשתמש בהם להבנת מספר השאלות שנענו בצורה שגויה ובאילו תחומים.</p>

	<p><i>ציוני גלם</i> הם סתם כמות התשובות הנכונות שנענו באותו התחום הספציפי, על כל חלקי המבחן הרלוונטיים. ציוני <i>אחיד</i> הם ציון גלמי זה שהונורמל לקנה מידה בין 50 ל-150.</p>

	<h3>ציונים גלמיים/אחידים סטטיים</h3>

	<dl>
		<dt>תחום דיבור:</dt>

		<dd>
			<dl>
				<dt>גלמי:</dt>
				<dd>{{.StaticScores.VRaw}}</dd>

				<dt>אחיד:</dt>
				<dd>{{.StaticScores.VUniform}}</dd>
			</dl>
		</dd>

		<dt>תחום כמותי:</dt>

		<dd>
			<dl>
				<dt>גלמי:</dt>
				<dd>{{.StaticScores.QRaw}}</dd>

				<dt>אחיד:</dt>
				<dd>{{.StaticScores.QUniform}}</dd>
			</dl>
		</dd>

		<dt>תחום אנגלית:</dt>

		<dd>
			<dl>
				<dt>גלמי:</dt>
				<dd>{{.StaticScores.ERaw}}</dd>

				<dt>אחיד:</dt>
				<dd>{{.StaticScores.EUniform}}</dd>
			</dl>
		</dd>
	</dl>
</div>

{{end}}
