<!-- Entire page with a multi-choice section of the psychometry -->
<!-- Receives: `State` -->

{{define "section-page"}}

<!DOCTYPE html>
<html lang="he" dir="rtl">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Psygometry</title>

	<script src="https://unpkg.com/htmx.org@1.9.11"></script>
</head>

<body>
	<form hx-post="/answers" hx-target="#target" hx-vals='{"session": "{{.Session}}"}'>
		<div id="target">
		{{template "section" index .Psychometry.Sections .Page}}
		</div>

		<button type="submit">הבא</button>
	</form>

	<script>
		const url = new URL(location);
		url.searchParams.set("session", "{{.Session}}");
		history.pushState({}, "", url);
	</script>
</body>

{{end}}
